#####################################
# JEC GlassCat Admin Console .gitignore
# Please maintain order!
#####################################

#####################################
# Compiled output
#####################################

!/dist
/tmp
/out-tsc

#####################################
# IDEs and editors
#####################################

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

#####################################
# Dependencies
#####################################

/node_modules

#####################################
# IDE - VSCode
#####################################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#####################################
# Misc
#####################################

/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

#####################################
# System Files
#####################################

.DS_Store
Thumbs.db
